@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: var(--font-ibm-plex), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  }
  

}

:root {
  
  --color-background: #ffffff;
  --color-surface: #f8f9fa;
  --color-hover: #f1f3f5;
  
  --color-primary: #0066cc;
  --color-primary-hover: #0052a3;
  
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #525252;
  --color-text-muted: #a3a3a3;
  
  --color-border: #e5e5e5;
  --color-border-light: #f0f0f0;
  
  --color-success: #16a34a;
  --color-success-light: #dcfce7;
  --color-danger: #dc2626;
  --color-danger-light: #fee2e2;
  
  --color-table-header: #f1f0fa;
  --color-table-row-hover: #f1f0fa;
  
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

[data-theme="dark"] {
  --color-background: #0d0d0d;
  --color-surface: #161616;
  --color-hover: #202020;
  
  /* --color-primary: #0ea5e9; */
  --color-primary: #BB86FC;
  --color-primary-hover: #38bdf8;
  
  --color-text-primary: #fafafa;
  --color-text-secondary: #b8b8b8;
  --color-text-muted: #808080;
  
  --color-border: #2d2d2d;
  --color-border-light: #3d3d3d;
  
  --color-success: #10b981;
  --color-success-light: #064e3b;
  --color-danger: #f43f5e;
  --color-danger-light: #881337;
  
  --color-table-header: #1a1a1a;
  --color-table-row-hover: #232323;
  
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.5);
  --shadow-md: 0 4px 8px -2px rgb(0 0 0 / 0.6);
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
}



* {
  transition-property: background-color, border-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}